:root {
	--lime: #a4c400;
	--green: #60a917;
	--emerald: #008a00;
	--teal: #00aba9;
	--cyan: #1ba1e2;
	--blue: #3e65ff;
	--cobalt: #0050ef;
	--indigo: #6a00ff;
	--violet: #aa00ff;
	--pink: #f472d0;
	--magenta: #d80073;
	--crimson: #a20025;
	--red: #e51400;
	--orange: #fa6800;
	--amber: #f0a30a;
	--yellow: #e3c800;
	--brown: #825a2c;
	--olive: #6d8764;
	--steel: #647687;
	--mauve: #76608a;
	--taupe: #87794e;
	--sienna: #a0522d;
}

.bg-lime {
	background-color: #a4c400;
}
.bg-green {
	background-color: #60a917;
}
.bg-emerald {
	background-color: #008a00;
}
.bg-teal {
	background-color: #00aba9;
}
.bg-cyan {
	background-color: #1ba1e2;
}
.bg-blue {
	background-color: #3e65ff;
}
.bg-cobalt {
	background-color: #0050ef;
}
.bg-indigo {
	background-color: #6a00ff;
}
.bg-violet {
	background-color: #aa00ff;
}
.bg-pink {
	background-color: #f472d0;
}
.bg-magenta {
	background-color: #d80073;
}
.bg-crimson {
	background-color: #a20025;
}
.bg-red {
	background-color: #e51400;
}
.bg-orange {
	background-color: #fa6800;
}
.bg-amber {
	background-color: #f0a30a;
}
.bg-yellow {
	background-color: #e3c800;
}
.bg-brown {
	background-color: #825a2c;
}
.bg-olive {
	background-color: #6d8764;
}
.bg-steel {
	background-color: #647687;
}
.bg-mauve {
	background-color: #76608a;
}
.bg-taupe {
	background-color: #87794e;
}
.bg-sienna {
	background-color: #a0522d;
}

.c-lime {
	color: #a4c400;
}
.c-green {
	color: #60a917;
}
.c-emerald {
	color: #008a00;
}
.c-teal {
	color: #00aba9;
}
.c-cyan {
	color: #1ba1e2;
}
.c-blue {
	color: #3e65ff;
}
.c-cobalt {
	color: #0050ef;
}
.c-indigo {
	color: #6a00ff;
}
.c-violet {
	color: #aa00ff;
}
.c-pink {
	color: #f472d0;
}
.c-magenta {
	color: #d80073;
}
.c-crimson {
	color: #a20025;
}
.c-red {
	color: #e51400;
}
.c-orange {
	color: #fa6800;
}
.c-amber {
	color: #f0a30a;
}
.c-yellow {
	color: #e3c800;
}
.c-brown {
	color: #825a2c;
}
.c-olive {
	color: #6d8764;
}
.c-steel {
	color: #647687;
}
.c-mauve {
	color: #76608a;
}
.c-taupe {
	color: #87794e;
}
.c-sienna {
	color: #a0522d;
}
