cloudy-blue {
	color: #acc2d9;
}
dark-pastel-green {
	color: #56ae57;
}
dust {
	color: #b2996e;
}
electric-lime {
	color: #a8ff04;
}
fresh-green {
	color: #69d84f;
}
light-eggplant {
	color: #894585;
}
nasty-green {
	color: #70b23f;
}
really-light-blue {
	color: #d4ffff;
}
tea {
	color: #65ab7c;
}
warm-purple {
	color: #952e8f;
}
yellowish-tan {
	color: #fcfc81;
}
cement {
	color: #a5a391;
}
dark-grass-green {
	color: #388004;
}
dusty-teal {
	color: #4c9085;
}
grey-teal {
	color: #5e9b8a;
}
macaroni-and-cheese {
	color: #efb435;
}
pinkish-tan {
	color: #d99b82;
}
spruce {
	color: #0a5f38;
}
strong-blue {
	color: #0c06f7;
}
toxic-green {
	color: #61de2a;
}
windows-blue {
	color: #3778bf;
}
blue-blue {
	color: #2242c7;
}
blue-with-a-hint-of-purple {
	color: #533cc6;
}
booger {
	color: #9bb53c;
}
bright-sea-green {
	color: #05ffa6;
}
dark-green-blue {
	color: #1f6357;
}
deep-turquoise {
	color: #017374;
}
green-teal {
	color: #0cb577;
}
strong-pink {
	color: #ff0789;
}
bland {
	color: #afa88b;
}
deep-aqua {
	color: #08787f;
}
lavender-pink {
	color: #dd85d7;
}
light-moss-green {
	color: #a6c875;
}
light-seafoam-green {
	color: #a7ffb5;
}
olive-yellow {
	color: #c2b709;
}
pig-pink {
	color: #e78ea5;
}
deep-lilac {
	color: #966ebd;
}
desert {
	color: #ccad60;
}
dusty-lavender {
	color: #ac86a8;
}
purpley-grey {
	color: #947e94;
}
purply {
	color: #983fb2;
}
candy-pink {
	color: #ff63e9;
}
light-pastel-green {
	color: #b2fba5;
}
boring-green {
	color: #63b365;
}
kiwi-green {
	color: #8ee53f;
}
light-grey-green {
	color: #b7e1a1;
}
orange-pink {
	color: #ff6f52;
}
tea-green {
	color: #bdf8a3;
}
very-light-brown {
	color: #d3b683;
}
egg-shell {
	color: #fffcc4;
}
eggplant-purple {
	color: #430541;
}
powder-pink {
	color: #ffb2d0;
}
reddish-grey {
	color: #997570;
}
baby-shit-brown {
	color: #ad900d;
}
liliac {
	color: #c48efd;
}
stormy-blue {
	color: #507b9c;
}
ugly-brown {
	color: #7d7103;
}
custard {
	color: #fffd78;
}
darkish-pink {
	color: #da467d;
}
deep-brown {
	color: #410200;
}
greenish-beige {
	color: #c9d179;
}
manilla {
	color: #fffa86;
}
off-blue {
	color: #5684ae;
}
battleship-grey {
	color: #6b7c85;
}
browny-green {
	color: #6f6c0a;
}
bruise {
	color: #7e4071;
}
kelley-green {
	color: #009337;
}
sickly-yellow {
	color: #d0e429;
}
sunny-yellow {
	color: #fff917;
}
azul {
	color: #1d5dec;
}
darkgreen {
	color: #054907;
}
green/yellow {
	color: #b5ce08;
}
lichen {
	color: #8fb67b;
}
light-light-green {
	color: #c8ffb0;
}
pale-gold {
	color: #fdde6c;
}
sun-yellow {
	color: #ffdf22;
}
tan-green {
	color: #a9be70;
}
burple {
	color: #6832e3;
}
butterscotch {
	color: #fdb147;
}
toupe {
	color: #c7ac7d;
}
dark-cream {
	color: #fff39a;
}
indian-red {
	color: #850e04;
}
light-lavendar {
	color: #efc0fe;
}
poison-green {
	color: #40fd14;
}
baby-puke-green {
	color: #b6c406;
}
bright-yellow-green {
	color: #9dff00;
}
charcoal-grey {
	color: #3c4142;
}
squash {
	color: #f2ab15;
}
cinnamon {
	color: #ac4f06;
}
light-pea-green {
	color: #c4fe82;
}
radioactive-green {
	color: #2cfa1f;
}
raw-sienna {
	color: #9a6200;
}
baby-purple {
	color: #ca9bf7;
}
cocoa {
	color: #875f42;
}
light-royal-blue {
	color: #3a2efe;
}
orangeish {
	color: #fd8d49;
}
rust-brown {
	color: #8b3103;
}
sand-brown {
	color: #cba560;
}
swamp {
	color: #698339;
}
tealish-green {
	color: #0cdc73;
}
burnt-siena {
	color: #b75203;
}
camo {
	color: #7f8f4e;
}
dusk-blue {
	color: #26538d;
}
fern {
	color: #63a950;
}
old-rose {
	color: #c87f89;
}
pale-light-green {
	color: #b1fc99;
}
peachy-pink {
	color: #ff9a8a;
}
rosy-pink {
	color: #f6688e;
}
light-bluish-green {
	color: #76fda8;
}
light-bright-green {
	color: #53fe5c;
}
light-neon-green {
	color: #4efd54;
}
light-seafoam {
	color: #a0febf;
}
tiffany-blue {
	color: #7bf2da;
}
washed-out-green {
	color: #bcf5a6;
}
browny-orange {
	color: #ca6b02;
}
nice-blue {
	color: #107ab0;
}
sapphire {
	color: #2138ab;
}
greyish-teal {
	color: #719f91;
}
orangey-yellow {
	color: #fdb915;
}
parchment {
	color: #fefcaf;
}
straw {
	color: #fcf679;
}
very-dark-brown {
	color: #1d0200;
}
terracota {
	color: #cb6843;
}
ugly-blue {
	color: #31668a;
}
clear-blue {
	color: #247afd;
}
creme {
	color: #ffffb6;
}
foam-green {
	color: #90fda9;
}
grey/green {
	color: #86a17d;
}
light-gold {
	color: #fddc5c;
}
seafoam-blue {
	color: #78d1b6;
}
topaz {
	color: #13bbaf;
}
violet-pink {
	color: #fb5ffc;
}
wintergreen {
	color: #20f986;
}
yellow-tan {
	color: #ffe36e;
}
dark-fuchsia {
	color: #9d0759;
}
indigo-blue {
	color: #3a18b1;
}
light-yellowish-green {
	color: #c2ff89;
}
pale-magenta {
	color: #d767ad;
}
rich-purple {
	color: #720058;
}
sunflower-yellow {
	color: #ffda03;
}
green/blue {
	color: #01c08d;
}
leather {
	color: #ac7434;
}
racing-green {
	color: #014600;
}
vivid-purple {
	color: #9900fa;
}
dark-royal-blue {
	color: #02066f;
}
hazel {
	color: #8e7618;
}
muted-pink {
	color: #d1768f;
}
booger-green {
	color: #96b403;
}
canary {
	color: #fdff63;
}
cool-grey {
	color: #95a3a6;
}
dark-taupe {
	color: #7f684e;
}
darkish-purple {
	color: #751973;
}
true-green {
	color: #089404;
}
coral-pink {
	color: #ff6163;
}
dark-sage {
	color: #598556;
}
dark-slate-blue {
	color: #214761;
}
flat-blue {
	color: #3c73a8;
}
mushroom {
	color: #ba9e88;
}
rich-blue {
	color: #021bf9;
}
dirty-purple {
	color: #734a65;
}
greenblue {
	color: #23c48b;
}
icky-green {
	color: #8fae22;
}
light-khaki {
	color: #e6f2a2;
}
warm-blue {
	color: #4b57db;
}
dark-hot-pink {
	color: #d90166;
}
deep-sea-blue {
	color: #015482;
}
carmine {
	color: #9d0216;
}
dark-yellow-green {
	color: #728f02;
}
pale-peach {
	color: #ffe5ad;
}
plum-purple {
	color: #4e0550;
}
golden-rod {
	color: #f9bc08;
}
neon-red {
	color: #ff073a;
}
old-pink {
	color: #c77986;
}
very-pale-blue {
	color: #d6fffe;
}
blood-orange {
	color: #fe4b03;
}
grapefruit {
	color: #fd5956;
}
sand-yellow {
	color: #fce166;
}
clay-brown {
	color: #b2713d;
}
dark-blue-grey {
	color: #1f3b4d;
}
flat-green {
	color: #699d4c;
}
light-green-blue {
	color: #56fca2;
}
warm-pink {
	color: #fb5581;
}
dodger-blue {
	color: #3e82fc;
}
gross-green {
	color: #a0bf16;
}
ice {
	color: #d6fffa;
}
metallic-blue {
	color: #4f738e;
}
pale-salmon {
	color: #ffb19a;
}
sap-green {
	color: #5c8b15;
}
algae {
	color: #54ac68;
}
bluey-grey {
	color: #89a0b0;
}
greeny-grey {
	color: #7ea07a;
}
highlighter-green {
	color: #1bfc06;
}
light-light-blue {
	color: #cafffb;
}
light-mint {
	color: #b6ffbb;
}
raw-umber {
	color: #a75e09;
}
vivid-blue {
	color: #152eff;
}
deep-lavender {
	color: #8d5eb7;
}
dull-teal {
	color: #5f9e8f;
}
light-greenish-blue {
	color: #63f7b4;
}
mud-green {
	color: #606602;
}
pinky {
	color: #fc86aa;
}
red-wine {
	color: #8c0034;
}
shit-green {
	color: #758000;
}
tan-brown {
	color: #ab7e4c;
}
darkblue {
	color: #030764;
}
rosa {
	color: #fe86a4;
}
lipstick {
	color: #d5174e;
}
pale-mauve {
	color: #fed0fc;
}
claret {
	color: #680018;
}
dandelion {
	color: #fedf08;
}
orangered {
	color: #fe420f;
}
poop-green {
	color: #6f7c00;
}
ruby {
	color: #ca0147;
}
dark {
	color: #1b2431;
}
greenish-turquoise {
	color: #00fbb0;
}
pastel-red {
	color: #db5856;
}
piss-yellow {
	color: #ddd618;
}
bright-cyan {
	color: #41fdfe;
}
dark-coral {
	color: #cf524e;
}
algae-green {
	color: #21c36f;
}
darkish-red {
	color: #a90308;
}
reddy-brown {
	color: #6e1005;
}
blush-pink {
	color: #fe828c;
}
camouflage-green {
	color: #4b6113;
}
lawn-green {
	color: #4da409;
}
putty {
	color: #beae8a;
}
vibrant-blue {
	color: #0339f8;
}
dark-sand {
	color: #a88f59;
}
purple/blue {
	color: #5d21d0;
}
saffron {
	color: #feb209;
}
twilight {
	color: #4e518b;
}
warm-brown {
	color: #964e02;
}
bluegrey {
	color: #85a3b2;
}
bubble-gum-pink {
	color: #ff69af;
}
duck-egg-blue {
	color: #c3fbf4;
}
greenish-cyan {
	color: #2afeb7;
}
petrol {
	color: #005f6a;
}
royal {
	color: #0c1793;
}
butter {
	color: #ffff81;
}
dusty-orange {
	color: #f0833a;
}
off-yellow {
	color: #f1f33f;
}
pale-olive-green {
	color: #b1d27b;
}
orangish {
	color: #fc824a;
}
leaf {
	color: #71aa34;
}
light-blue-grey {
	color: #b7c9e2;
}
dried-blood {
	color: #4b0101;
}
lightish-purple {
	color: #a552e6;
}
rusty-red {
	color: #af2f0d;
}
lavender-blue {
	color: #8b88f8;
}
light-grass-green {
	color: #9af764;
}
light-mint-green {
	color: #a6fbb2;
}
sunflower {
	color: #ffc512;
}
velvet {
	color: #750851;
}
brick-orange {
	color: #c14a09;
}
lightish-red {
	color: #fe2f4a;
}
pure-blue {
	color: #0203e2;
}
twilight-blue {
	color: #0a437a;
}
violet-red {
	color: #a50055;
}
yellowy-brown {
	color: #ae8b0c;
}
carnation {
	color: #fd798f;
}
muddy-yellow {
	color: #bfac05;
}
dark-seafoam-green {
	color: #3eaf76;
}
deep-rose {
	color: #c74767;
}
dusty-red {
	color: #b9484e;
}
grey/blue {
	color: #647d8e;
}
lemon-lime {
	color: #bffe28;
}
purple/pink {
	color: #d725de;
}
brown-yellow {
	color: #b29705;
}
purple-brown {
	color: #673a3f;
}
wisteria {
	color: #a87dc2;
}
banana-yellow {
	color: #fafe4b;
}
lipstick-red {
	color: #c0022f;
}
water-blue {
	color: #0e87cc;
}
brown-grey {
	color: #8d8468;
}
vibrant-purple {
	color: #ad03de;
}
baby-green {
	color: #8cff9e;
}
barf-green {
	color: #94ac02;
}
eggshell-blue {
	color: #c4fff7;
}
sandy-yellow {
	color: #fdee73;
}
cool-green {
	color: #33b864;
}
pale {
	color: #fff9d0;
}
blue/grey {
	color: #758da3;
}
hot-magenta {
	color: #f504c9;
}
greyblue {
	color: #77a1b5;
}
purpley {
	color: #8756e4;
}
baby-shit-green {
	color: #889717;
}
brownish-pink {
	color: #c27e79;
}
dark-aquamarine {
	color: #017371;
}
diarrhea {
	color: #9f8303;
}
light-mustard {
	color: #f7d560;
}
pale-sky-blue {
	color: #bdf6fe;
}
turtle-green {
	color: #75b84f;
}
bright-olive {
	color: #9cbb04;
}
dark-grey-blue {
	color: #29465b;
}
greeny-brown {
	color: #696006;
}
lemon-green {
	color: #adf802;
}
light-periwinkle {
	color: #c1c6fc;
}
seaweed-green {
	color: #35ad6b;
}
sunshine-yellow {
	color: #fffd37;
}
ugly-purple {
	color: #a442a0;
}
medium-pink {
	color: #f36196;
}
puke-brown {
	color: #947706;
}
very-light-pink {
	color: #fff4f2;
}
viridian {
	color: #1e9167;
}
bile {
	color: #b5c306;
}
faded-yellow {
	color: #feff7f;
}
very-pale-green {
	color: #cffdbc;
}
vibrant-green {
	color: #0add08;
}
bright-lime {
	color: #87fd05;
}
spearmint {
	color: #1ef876;
}
light-aquamarine {
	color: #7bfdc7;
}
light-sage {
	color: #bcecac;
}
yellowgreen {
	color: #bbf90f;
}
baby-poo {
	color: #ab9004;
}
dark-seafoam {
	color: #1fb57a;
}
deep-teal {
	color: #00555a;
}
heather {
	color: #a484ac;
}
rust-orange {
	color: #c45508;
}
dirty-blue {
	color: #3f829d;
}
fern-green {
	color: #548d44;
}
bright-lilac {
	color: #c95efb;
}
weird-green {
	color: #3ae57f;
}
peacock-blue {
	color: #016795;
}
avocado-green {
	color: #87a922;
}
faded-orange {
	color: #f0944d;
}
grape-purple {
	color: #5d1451;
}
hot-green {
	color: #25ff29;
}
lime-yellow {
	color: #d0fe1d;
}
mango {
	color: #ffa62b;
}
shamrock {
	color: #01b44c;
}
bubblegum {
	color: #ff6cb5;
}
purplish-brown {
	color: #6b4247;
}
vomit-yellow {
	color: #c7c10c;
}
pale-cyan {
	color: #b7fffa;
}
key-lime {
	color: #aeff6e;
}
tomato-red {
	color: #ec2d01;
}
lightgreen {
	color: #76ff7b;
}
merlot {
	color: #730039;
}
night-blue {
	color: #040348;
}
purpleish-pink {
	color: #df4ec8;
}
apple {
	color: #6ecb3c;
}
baby-poop-green {
	color: #8f9805;
}
green-apple {
	color: #5edc1f;
}
heliotrope {
	color: #d94ff5;
}
yellow/green {
	color: #c8fd3d;
}
almost-black {
	color: #070d0d;
}
cool-blue {
	color: #4984b8;
}
leafy-green {
	color: #51b73b;
}
mustard-brown {
	color: #ac7e04;
}
dusk {
	color: #4e5481;
}
dull-brown {
	color: #876e4b;
}
frog-green {
	color: #58bc08;
}
vivid-green {
	color: #2fef10;
}
bright-light-green {
	color: #2dfe54;
}
fluro-green {
	color: #0aff02;
}
kiwi {
	color: #9cef43;
}
seaweed {
	color: #18d17b;
}
navy-green {
	color: #35530a;
}
ultramarine-blue {
	color: #1805db;
}
iris {
	color: #6258c4;
}
pastel-orange {
	color: #ff964f;
}
yellowish-orange {
	color: #ffab0f;
}
perrywinkle {
	color: #8f8ce7;
}
tealish {
	color: #24bca8;
}
dark-plum {
	color: #3f012c;
}
pear {
	color: #cbf85f;
}
pinkish-orange {
	color: #ff724c;
}
midnight-purple {
	color: #280137;
}
light-urple {
	color: #b36ff6;
}
dark-mint {
	color: #48c072;
}
greenish-tan {
	color: #bccb7a;
}
light-burgundy {
	color: #a8415b;
}
turquoise-blue {
	color: #06b1c4;
}
ugly-pink {
	color: #cd7584;
}
sandy {
	color: #f1da7a;
}
electric-pink {
	color: #ff0490;
}
muted-purple {
	color: #805b87;
}
mid-green {
	color: #50a747;
}
greyish {
	color: #a8a495;
}
neon-yellow {
	color: #cfff04;
}
banana {
	color: #ffff7e;
}
carnation-pink {
	color: #ff7fa7;
}
tomato {
	color: #ef4026;
}
sea {
	color: #3c9992;
}
muddy-brown {
	color: #886806;
}
turquoise-green {
	color: #04f489;
}
buff {
	color: #fef69e;
}
fawn {
	color: #cfaf7b;
}
muted-blue {
	color: #3b719f;
}
pale-rose {
	color: #fdc1c5;
}
dark-mint-green {
	color: #20c073;
}
amethyst {
	color: #9b5fc0;
}
blue/green {
	color: #0f9b8e;
}
chestnut {
	color: #742802;
}
sick-green {
	color: #9db92c;
}
pea {
	color: #a4bf20;
}
rusty-orange {
	color: #cd5909;
}
stone {
	color: #ada587;
}
rose-red {
	color: #be013c;
}
pale-aqua {
	color: #b8ffeb;
}
deep-orange {
	color: #dc4d01;
}
earth {
	color: #a2653e;
}
mossy-green {
	color: #638b27;
}
grassy-green {
	color: #419c03;
}
pale-lime-green {
	color: #b1ff65;
}
light-grey-blue {
	color: #9dbcd4;
}
pale-grey {
	color: #fdfdfe;
}
asparagus {
	color: #77ab56;
}
blueberry {
	color: #464196;
}
purple-red {
	color: #990147;
}
pale-lime {
	color: #befd73;
}
greenish-teal {
	color: #32bf84;
}
caramel {
	color: #af6f09;
}
deep-magenta {
	color: #a0025c;
}
light-peach {
	color: #ffd8b1;
}
milk-chocolate {
	color: #7f4e1e;
}
ocher {
	color: #bf9b0c;
}
off-green {
	color: #6ba353;
}
purply-pink {
	color: #f075e6;
}
lightblue {
	color: #7bc8f6;
}
dusky-blue {
	color: #475f94;
}
golden {
	color: #f5bf03;
}
light-beige {
	color: #fffeb6;
}
butter-yellow {
	color: #fffd74;
}
dusky-purple {
	color: #895b7b;
}
french-blue {
	color: #436bad;
}
ugly-yellow {
	color: #d0c101;
}
greeny-yellow {
	color: #c6f808;
}
orangish-red {
	color: #f43605;
}
shamrock-green {
	color: #02c14d;
}
orangish-brown {
	color: #b25f03;
}
tree-green {
	color: #2a7e19;
}
deep-violet {
	color: #490648;
}
gunmetal {
	color: #536267;
}
blue/purple {
	color: #5a06ef;
}
cherry {
	color: #cf0234;
}
sandy-brown {
	color: #c4a661;
}
warm-grey {
	color: #978a84;
}
dark-indigo {
	color: #1f0954;
}
midnight {
	color: #03012d;
}
bluey-green {
	color: #2bb179;
}
grey-pink {
	color: #c3909b;
}
soft-purple {
	color: #a66fb5;
}
blood {
	color: #770001;
}
brown-red {
	color: #922b05;
}
medium-grey {
	color: #7d7f7c;
}
berry {
	color: #990f4b;
}
poo {
	color: #8f7303;
}
purpley-pink {
	color: #c83cb9;
}
light-salmon {
	color: #fea993;
}
snot {
	color: #acbb0d;
}
easter-purple {
	color: #c071fe;
}
light-yellow-green {
	color: #ccfd7f;
}
dark-navy-blue {
	color: #00022e;
}
drab {
	color: #828344;
}
light-rose {
	color: #ffc5cb;
}
rouge {
	color: #ab1239;
}
purplish-red {
	color: #b0054b;
}
slime-green {
	color: #99cc04;
}
baby-poop {
	color: #937c00;
}
irish-green {
	color: #019529;
}
pink/purple {
	color: #ef1de7;
}
dark-navy {
	color: #000435;
}
greeny-blue {
	color: #42b395;
}
light-plum {
	color: #9d5783;
}
pinkish-grey {
	color: #c8aca9;
}
dirty-orange {
	color: #c87606;
}
rust-red {
	color: #aa2704;
}
pale-lilac {
	color: #e4cbff;
}
orangey-red {
	color: #fa4224;
}
primary-blue {
	color: #0804f9;
}
kermit-green {
	color: #5cb200;
}
brownish-purple {
	color: #76424e;
}
murky-green {
	color: #6c7a0e;
}
wheat {
	color: #fbdd7e;
}
very-dark-purple {
	color: #2a0134;
}
bottle-green {
	color: #044a05;
}
watermelon {
	color: #fd4659;
}
deep-sky-blue {
	color: #0d75f8;
}
fire-engine-red {
	color: #fe0002;
}
yellow-ochre {
	color: #cb9d06;
}
pumpkin-orange {
	color: #fb7d07;
}
pale-olive {
	color: #b9cc81;
}
light-lilac {
	color: #edc8ff;
}
lightish-green {
	color: #61e160;
}
carolina-blue {
	color: #8ab8fe;
}
mulberry {
	color: #920a4e;
}
shocking-pink {
	color: #fe02a2;
}
auburn {
	color: #9a3001;
}
bright-lime-green {
	color: #65fe08;
}
celadon {
	color: #befdb7;
}
pinkish-brown {
	color: #b17261;
}
poo-brown {
	color: #885f01;
}
bright-sky-blue {
	color: #02ccfe;
}
celery {
	color: #c1fd95;
}
dirt-brown {
	color: #836539;
}
strawberry {
	color: #fb2943;
}
dark-lime {
	color: #84b701;
}
copper {
	color: #b66325;
}
medium-brown {
	color: #7f5112;
}
muted-green {
	color: #5fa052;
}
robin's-egg{ color: #6dedfd; }
bright-aqua{ color: #0bf9ea; }
bright-lavender{ color: #c760ff; }
ivory{ color: #ffffcb; }
very-light-purple{ color: #f6cefc; }
light-navy{ color: #155084; }
pink-red{ color: #f5054f; }
olive-brown{ color: #645403; }
poop-brown{ color: #7a5901; }
mustard-green{ color: #a8b504; }
ocean-green{ color: #3d9973; }
very-dark-blue{ color: #000133; }
dusty-green{ color: #76a973; }
light-navy-blue{ color: #2e5a88; }
minty-green{ color: #0bf77d; }
adobe{ color: #bd6c48; }
barney{ color: #ac1db8; }
jade-green{ color: #2baf6a; }
bright-light-blue{ color: #26f7fd; }
light-lime{ color: #aefd6c; }
dark-khaki{ color: #9b8f55; }
orange-yellow{ color: #ffad01; }
ocre{ color: #c69c04; }
maize{ color: #f4d054; }
faded-pink{ color: #de9dac; }
british-racing-green{ color: #05480d; }
sandstone{ color: #c9ae74; }
mud-brown{ color: #60460f; }
light-sea-green{ color: #98f6b0; }
robin-egg-blue{ color: #8af1fe; }
aqua-marine{ color: #2ee8bb; }
dark-sea-green{ color: #11875d; }
soft-pink{ color: #fdb0c0; }
orangey-brown{ color: #b16002; }
cherry-red{ color: #f7022a; }
burnt-yellow{ color: #d5ab09; }
brownish-grey{ color: #86775f; }
camel{ color: #c69f59; }
purplish-grey{ color: #7a687f; }
marine{ color: #042e60; }
greyish-pink{ color: #c88d94; }
pale-turquoise{ color: #a5fbd5; }
pastel-yellow{ color: #fffe71; }
bluey-purple{ color: #6241c7; }
canary-yellow{ color: #fffe40; }
faded-red{ color: #d3494e; }
sepia{ color: #985e2b; }
coffee{ color: #a6814c; }
bright-magenta{ color: #ff08e8; }
mocha{ color: #9d7651; }
ecru{ color: #feffca; }
purpleish{ color: #98568d; }
cranberry{ color: #9e003a; }
darkish-green{ color: #287c37; }
brown-orange{ color: #b96902; }
dusky-rose{ color: #ba6873; }
melon{ color: #ff7855; }
sickly-green{ color: #94b21c; }
silver{ color: #c5c9c7; }
purply-blue{ color: #661aee; }
purpleish-blue{ color: #6140ef; }
hospital-green{ color: #9be5aa; }
shit-brown{ color: #7b5804; }
mid-blue{ color: #276ab3; }
amber{ color: #feb308; }
easter-green{ color: #8cfd7e; }
soft-blue{ color: #6488ea; }
cerulean-blue{ color: #056eee; }
golden-brown{ color: #b27a01; }
bright-turquoise{ color: #0ffef9; }
red-pink{ color: #fa2a55; }
red-purple{ color: #820747; }
greyish-brown{ color: #7a6a4f; }
vermillion{ color: #f4320c; }
russet{ color: #a13905; }
steel-grey{ color: #6f828a; }
lighter-purple{ color: #a55af4; }
bright-violet{ color: #ad0afd; }
prussian-blue{ color: #004577; }
slate-green{ color: #658d6d; }
dirty-pink{ color: #ca7b80; }
dark-blue-green{ color: #005249; }
pine{ color: #2b5d34; }
yellowy-green{ color: #bff128; }
dark-gold{ color: #b59410; }
bluish{ color: #2976bb; }
darkish-blue{ color: #014182; }
dull-red{ color: #bb3f3f; }
pinky-red{ color: #fc2647; }
bronze{ color: #a87900; }
pale-teal{ color: #82cbb2; }
military-green{ color: #667c3e; }
barbie-pink{ color: #fe46a5; }
bubblegum-pink{ color: #fe83cc; }
pea-soup-green{ color: #94a617; }
dark-mustard{ color: #a88905; }
shit{ color: #7f5f00; }
medium-purple{ color: #9e43a2; }
very-dark-green{ color: #062e03; }
dirt{ color: #8a6e45; }
dusky-pink{ color: #cc7a8b; }
red-violet{ color: #9e0168; }
lemon-yellow{ color: #fdff38; }
pistachio{ color: #c0fa8b; }
dull-yellow{ color: #eedc5b; }
dark-lime-green{ color: #7ebd01; }
denim-blue{ color: #3b5b92; }
teal-blue{ color: #01889f; }
lightish-blue{ color: #3d7afd; }
purpley-blue{ color: #5f34e7; }
light-indigo{ color: #6d5acf; }
swamp-green{ color: #748500; }
brown-green{ color: #706c11; }
dark-maroon{ color: #3c0008; }
hot-purple{ color: #cb00f5; }
dark-forest-green{ color: #002d04; }
faded-blue{ color: #658cbb; }
drab-green{ color: #749551; }
light-lime-green{ color: #b9ff66; }
snot-green{ color: #9dc100; }
yellowish{ color: #faee66; }
light-blue-green{ color: #7efbb3; }
bordeaux{ color: #7b002c; }
light-mauve{ color: #c292a1; }
ocean{ color: #017b92; }
marigold{ color: #fcc006; }
muddy-green{ color: #657432; }
dull-orange{ color: #d8863b; }
steel{ color: #738595; }
electric-purple{ color: #aa23ff; }
fluorescent-green{ color: #08ff08; }
yellowish-brown{ color: #9b7a01; }
blush{ color: #f29e8e; }
soft-green{ color: #6fc276; }
bright-orange{ color: #ff5b00; }
lemon{ color: #fdff52; }
purple-grey{ color: #866f85; }
acid-green{ color: #8ffe09; }
pale-lavender{ color: #eecffe; }
violet-blue{ color: #510ac9; }
light-forest-green{ color: #4f9153; }
burnt-red{ color: #9f2305; }
khaki-green{ color: #728639; }
cerise{ color: #de0c62; }
faded-purple{ color: #916e99; }
apricot{ color: #ffb16d; }
dark-olive-green{ color: #3c4d03; }
grey-brown{ color: #7f7053; }
green-grey{ color: #77926f; }
true-blue{ color: #010fcc; }
pale-violet{ color: #ceaefa; }
periwinkle-blue{ color: #8f99fb; }
light-sky-blue{ color: #c6fcff; }
blurple{ color: #5539cc; }
green-brown{ color: #544e03; }
bluegreen{ color: #017a79; }
bright-teal{ color: #01f9c6; }
brownish-yellow{ color: #c9b003; }
pea-soup{ color: #929901; }
forest{ color: #0b5509; }
barney-purple{ color: #a00498; }
ultramarine{ color: #2000b1; }
purplish{ color: #94568c; }
puke-yellow{ color: #c2be0e; }
bluish-grey{ color: #748b97; }
dark-periwinkle{ color: #665fd1; }
dark-lilac{ color: #9c6da5; }
reddish{ color: #c44240; }
light-maroon{ color: #a24857; }
dusty-purple{ color: #825f87; }
terra-cotta{ color: #c9643b; }
avocado{ color: #90b134; }
marine-blue{ color: #01386a; }
teal-green{ color: #25a36f; }
slate-grey{ color: #59656d; }
lighter-green{ color: #75fd63; }
electric-green{ color: #21fc0d; }
dusty-blue{ color: #5a86ad; }
golden-yellow{ color: #fec615; }
bright-yellow{ color: #fffd01; }
light-lavender{ color: #dfc5fe; }
umber{ color: #b26400; }
poop{ color: #7f5e00; }
dark-peach{ color: #de7e5d; }
jungle-green{ color: #048243; }
eggshell{ color: #ffffd4; }
denim{ color: #3b638c; }
yellow-brown{ color: #b79400; }
dull-purple{ color: #84597e; }
chocolate-brown{ color: #411900; }
wine-red{ color: #7b0323; }
neon-blue{ color: #04d9ff; }
dirty-green{ color: #667e2c; }
light-tan{ color: #fbeeac; }
ice-blue{ color: #d7fffe; }
cadet-blue{ color: #4e7496; }
dark-mauve{ color: #874c62; }
very-light-blue{ color: #d5ffff; }
grey-purple{ color: #826d8c; }
pastel-pink{ color: #ffbacd; }
very-light-green{ color: #d1ffbd; }
dark-sky-blue{ color: #448ee4; }
evergreen{ color: #05472a; }
dull-pink{ color: #d5869d; }
aubergine{ color: #3d0734; }
mahogany{ color: #4a0100; }
reddish-orange{ color: #f8481c; }
deep-green{ color: #02590f; }
vomit-green{ color: #89a203; }
purple-pink{ color: #e03fd8; }
dusty-pink{ color: #d58a94; }
faded-green{ color: #7bb274; }
camo-green{ color: #526525; }
pinky-purple{ color: #c94cbe; }
pink-purple{ color: #db4bda; }
brownish-red{ color: #9e3623; }
dark-rose{ color: #b5485d; }
mud{ color: #735c12; }
brownish{ color: #9c6d57; }
emerald-green{ color: #028f1e; }
pale-brown{ color: #b1916e; }
dull-blue{ color: #49759c; }
burnt-umber{ color: #a0450e; }
medium-green{ color: #39ad48; }
clay{ color: #b66a50; }
light-aqua{ color: #8cffdb; }
light-olive-green{ color: #a4be5c; }
brownish-orange{ color: #cb7723; }
dark-aqua{ color: #05696b; }
purplish-pink{ color: #ce5dae; }
dark-salmon{ color: #c85a53; }
greenish-grey{ color: #96ae8d; }
jade{ color: #1fa774; }
ugly-green{ color: #7a9703; }
dark-beige{ color: #ac9362; }
emerald{ color: #01a049; }
pale-red{ color: #d9544d; }
light-magenta{ color: #fa5ff7; }
sky{ color: #82cafc; }
light-cyan{ color: #acfffc; }
yellow-orange{ color: #fcb001; }
reddish-purple{ color: #910951; }
reddish-pink{ color: #fe2c54; }
orchid{ color: #c875c4; }
dirty-yellow{ color: #cdc50a; }
orange-red{ color: #fd411e; }
deep-red{ color: #9a0200; }
orange-brown{ color: #be6400; }
cobalt-blue{ color: #030aa7; }
neon-pink{ color: #fe019a; }
rose-pink{ color: #f7879a; }
greyish-purple{ color: #887191; }
raspberry{ color: #b00149; }
aqua-green{ color: #12e193; }
salmon-pink{ color: #fe7b7c; }
tangerine{ color: #ff9408; }
brownish-green{ color: #6a6e09; }
red-brown{ color: #8b2e16; }
greenish-brown{ color: #696112; }
pumpkin{ color: #e17701; }
pine-green{ color: #0a481e; }
charcoal{ color: #343837; }
baby-pink{ color: #ffb7ce; }
cornflower{ color: #6a79f7; }
blue-violet{ color: #5d06e9; }
chocolate{ color: #3d1c02; }
greyish-green{ color: #82a67d; }
scarlet{ color: #be0119; }
green-yellow{ color: #c9ff27; }
dark-olive{ color: #373e02; }
sienna{ color: #a9561e; }
pastel-purple{ color: #caa0ff; }
terracotta{ color: #ca6641; }
aqua-blue{ color: #02d8e9; }
sage-green{ color: #88b378; }
blood-red{ color: #980002; }
deep-pink{ color: #cb0162; }
grass{ color: #5cac2d; }
moss{ color: #769958; }
pastel-blue{ color: #a2bffe; }
bluish-green{ color: #10a674; }
green-blue{ color: #06b48b; }
dark-tan{ color: #af884a; }
greenish-blue{ color: #0b8b87; }
pale-orange{ color: #ffa756; }
vomit{ color: #a2a415; }
forrest-green{ color: #154406; }
dark-lavender{ color: #856798; }
dark-violet{ color: #34013f; }
purple-blue{ color: #632de9; }
dark-cyan{ color: #0a888a; }
olive-drab{ color: #6f7632; }
pinkish{ color: #d46a7e; }
cobalt{ color: #1e488f; }
neon-purple{ color: #bc13fe; }
light-turquoise{ color: #7ef4cc; }
apple-green{ color: #76cd26; }
dull-green{ color: #74a662; }
wine{ color: #80013f; }
powder-blue{ color: #b1d1fc; }
off-white{ color: #ffffe4; }
electric-blue{ color: #0652ff; }
dark-turquoise{ color: #045c5a; }
blue-purple{ color: #5729ce; }
azure{ color: #069af3; }
bright-red{ color: #ff000d; }
pinkish-red{ color: #f10c45; }
cornflower-blue{ color: #5170d7; }
light-olive{ color: #acbf69; }
grape{ color: #6c3461; }
greyish-blue{ color: #5e819d; }
purplish-blue{ color: #601ef9; }
yellowish-green{ color: #b0dd16; }
greenish-yellow{ color: #cdfd02; }
medium-blue{ color: #2c6fbb; }
dusty-rose{ color: #c0737a; }
light-violet{ color: #d6b4fc; }
midnight-blue{ color: #020035; }
bluish-purple{ color: #703be7; }
red-orange{ color: #fd3c06; }
dark-magenta{ color: #960056; }
greenish{ color: #40a368; }
ocean-blue{ color: #03719c; }
coral{ color: #fc5a50; }
cream{ color: #ffffc2; }
reddish-brown{ color: #7f2b0a; }
burnt-sienna{ color: #b04e0f; }
brick{ color: #a03623; }
sage{ color: #87ae73; }
grey-green{ color: #789b73; }
white{ color: #ffffff; }
robin's-egg-blue {
	color: #98eff9;
}
moss-green {
	color: #658b38;
}
steel-blue {
	color: #5a7d9a;
}
eggplant {
	color: #380835;
}
light-yellow {
	color: #fffe7a;
}
leaf-green {
	color: #5ca904;
}
light-grey {
	color: #d8dcd6;
}
puke {
	color: #a5a502;
}
pinkish-purple {
	color: #d648d7;
}
sea-blue {
	color: #047495;
}
pale-purple {
	color: #b790d4;
}
slate-blue {
	color: #5b7c99;
}
blue-grey {
	color: #607c8e;
}
hunter-green {
	color: #0b4008;
}
fuchsia {
	color: #ed0dd9;
}
crimson {
	color: #8c000f;
}
pale-yellow {
	color: #ffff84;
}
ochre {
	color: #bf9005;
}
mustard-yellow {
	color: #d2bd0a;
}
light-red {
	color: #ff474c;
}
cerulean {
	color: #0485d1;
}
pale-pink {
	color: #ffcfdc;
}
deep-blue {
	color: #040273;
}
rust {
	color: #a83c09;
}
light-teal {
	color: #90e4c1;
}
slate {
	color: #516572;
}
goldenrod {
	color: #fac205;
}
dark-yellow {
	color: #d5b60a;
}
dark-grey {
	color: #363737;
}
army-green {
	color: #4b5d16;
}
grey-blue {
	color: #6b8ba4;
}
seafoam {
	color: #80f9ad;
}
puce {
	color: #a57e52;
}
spring-green {
	color: #a9f971;
}
dark-orange {
	color: #c65102;
}
sand {
	color: #e2ca76;
}
pastel-green {
	color: #b0ff9d;
}
mint {
	color: #9ffeb0;
}
light-orange {
	color: #fdaa48;
}
bright-pink {
	color: #fe01b1;
}
chartreuse {
	color: #c1f80a;
}
deep-purple {
	color: #36013f;
}
dark-brown {
	color: #341c02;
}
taupe {
	color: #b9a281;
}
pea-green {
	color: #8eab12;
}
puke-green {
	color: #9aae07;
}
kelly-green {
	color: #02ab2e;
}
seafoam-green {
	color: #7af9ab;
}
blue-green {
	color: #137e6d;
}
khaki {
	color: #aaa662;
}
burgundy {
	color: #610023;
}
dark-teal {
	color: #014d4e;
}
brick-red {
	color: #8f1402;
}
royal-purple {
	color: #4b006e;
}
plum {
	color: #580f41;
}
mint-green {
	color: #8fff9f;
}
gold {
	color: #dbb40c;
}
baby-blue {
	color: #a2cffe;
}
yellow-green {
	color: #c0fb2d;
}
bright-purple {
	color: #be03fd;
}
dark-red {
	color: #840000;
}
pale-blue {
	color: #d0fefe;
}
grass-green {
	color: #3f9b0b;
}
navy {
	color: #01153e;
}
aquamarine {
	color: #04d8b2;
}
burnt-orange {
	color: #c04e01;
}
neon-green {
	color: #0cff0c;
}
bright-blue {
	color: #0165fc;
}
rose {
	color: #cf6275;
}
light-pink {
	color: #ffd1df;
}
mustard {
	color: #ceb301;
}
indigo {
	color: #380282;
}
lime {
	color: #aaff32;
}
sea-green {
	color: #53fca1;
}
periwinkle {
	color: #8e82fe;
}
dark-pink {
	color: #cb416b;
}
olive-green {
	color: #677a04;
}
peach {
	color: #ffb07c;
}
pale-green {
	color: #c7fdb5;
}
light-brown {
	color: #ad8150;
}
hot-pink {
	color: #ff028d;
}
black {
	color: #000000;
}
lilac {
	color: #cea2fd;
}
navy-blue {
	color: #001146;
}
royal-blue {
	color: #0504aa;
}
beige {
	color: #e6daa6;
}
salmon {
	color: #ff796c;
}
olive {
	color: #6e750e;
}
maroon {
	color: #650021;
}
bright-green {
	color: #01ff07;
}
dark-purple {
	color: #35063e;
}
mauve {
	color: #ae7181;
}
forest-green {
	color: #06470c;
}
aqua {
	color: #13eac9;
}
cyan {
	color: #00ffff;
}
tan {
	color: #d1b26f;
}
dark-blue {
	color: #00035b;
}
lavender {
	color: #c79fef;
}
turquoise {
	color: #06c2ac;
}
dark-green {
	color: #033500;
}
violet {
	color: #9a0eea;
}
light-purple {
	color: #bf77f6;
}
lime-green {
	color: #89fe05;
}
grey {
	color: #929591;
}
sky-blue {
	color: #75bbfd;
}
yellow {
	color: #ffff14;
}
magenta {
	color: #c20078;
}
light-green {
	color: #96f97b;
}
orange {
	color: #f97306;
}
teal {
	color: #029386;
}
light-blue {
	color: #95d0fc;
}
red {
	color: #e50000;
}
brown {
	color: #653700;
}
pink {
	color: #ff81c0;
}
blue {
	color: #0343df;
}
green {
	color: #15b01a;
}
purple {
	color: #7e1e9c;
}
